@import "_vars.sass"
@import "_fonts.sass"
@import "app/libs/normalize/normalize.sass"

*
	box-sizing: border-box

html
	height: 100%
	
body
	min-height: 100%
	font: 16px/16px Arial, Tahoma, sans-serif
	display: flex
	flex-flow: row wrap
	justify-content: center
	align-items: center

.wrap-canvas
	position: relative
	width: 700px
	height: 350px
	margin-bottom: 4px

.crop-box
	position: absolute
	display: block
	background-color: transparent
	border: 1px solid #EC7279
	cursor: move

.crop-img
	position: absolute
	display: block
	border: 1px solid #000
	background-color: transparent
	cursor: move
	z-index: 1
	&-wrapper
		margin: 0
		padding: 0
		max-width: 700px
		width: 100%
	&__row
		padding: 5px 0
		width: 100%
		display: flex
		flex-flow: row norwap
		justify-content: space-between
		a
			text-decoration: none
		label
			padding: 10px 14px 8px 
			border-radius: 4px
			border: 1px solid #FF836D
			color: #FF836D
			font: 16px/16px Arial, Tahoma, sans-serif
		input
			padding: 0 2px
			border-radius: 4px
			border: 1px solid #FF836D
			color: #FF836D
			transition: 0.3s all linear
			width: 40px
		&--middle
			justify-content: center
		&--center
			margin: 0 auto
			width: 450px

.loadImg
	opacity: 0
	display: none
	& + label
		display: inline-block
		padding: 8px 14px
		border-radius: 4px
		background-color: #FF836D
		color: #fff
		transition: 0.3s all linear
		cursor: pointer
		&:hover
			background-color: #FFAA9C

.btn
	padding: 9px 11px 8px
	border-radius: 4px
	border: none
	cursor: pointer
	background-color: #ff836D
	color: #fff
	transition: 0.3s all linear
	outline: none
	&-disabled
		background-color: #FFAA9C
		cursor: not-allowed
	&:hover
		background-color: #FFAA9C

.resizeCropBox
	display: flex
	flex-flow: row wrap
	margin-top: 6px
	max-width: 700px
	align-items: center
	text-align: center
	span
		display: block
		width: 100%
	input
		display: inline-block
	label
		width: 50%